@model WebAguasPL.Models.ClienteViewModel

@{
    ViewData["Title"] = "Edit";
}
<div class="fullBodyContainer">
    <div>
        <br />
        <div class="headerContainer">
            <h1 class="text-center">Edit Client</h1>
        </div>
        <br />
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4">

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto">
            }


            <form asp-action="Edit" enctype="multipart/form-data" style="text-align:center;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="ImageUrl" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control text-center" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NIF" class="control-label"></label>
                    <input asp-for="NIF" class="form-control text-center" />
                    <span asp-validation-for="NIF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control text-center" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Postalcode" class="control-label"></label>
                    <input asp-for="Postalcode" class="form-control text-center" />
                    <span asp-validation-for="Postalcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control text-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control text-center" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>

    <div align="right">
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("client")){
            <a asp-action="ShowProfile">Back to Profile</a>
        }else{

            <a asp-action="Index">Back to List</a>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
