
@{
    ViewData["Title"] = "ConfirmPassword";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Your password has been reseted. Now you can login into system with your new password.
    </p>
</div>

