@model WebAguasPL.Data.Entities.Contrato

@{
    ViewData["Title"] = "Edit";
}
<div class="fullBodyContainer">


    <div>
        <br />
        <div class="headerContainer">
            <h1 class="text-center">Edit Contract</h1>
        </div>
        <br />
    </div>


    <form asp-action="Edit" style="text-align:center;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="ContractDate" />
        <input type="hidden" asp-for="IsApproved" />

        <div class="row py-2">
            <div class="col-md-8">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control text-center" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="col-md-4 pt-md-0 pt-3">
                <label asp-for="Postalcode" class="control-label"></label>
                <input asp-for="Postalcode" class="form-control text-center" />
                <span asp-validation-for="Postalcode" class="text-danger"></span>
            </div>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div>
            <p>
                <flash dismissable="true" />
            </p>
        </div>
    </form>
       

    <div align="right">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

